apiVersion: v2
name: limitador-operator
description: Kubernetes operator for managing Limitador instances, a rate limiting service to protect your APIs.
home: https://kuadrant.io
icon: https://raw.githubusercontent.com/Kuadrant/kuadrant.github.io/main/static/img/apple-touch-icon.png
keywords:
  - limitador
  - rate limiting
  - service protection
  - kubernetes
  - kuadrant
sources:
  - https://github.com/Kuadrant/limitador-operator/
  - https://github.com/Kuadrant/limitador/
kubeVersion: ">=1.19.0-0"
type: application
# The version will be properly set when the chart is released matching the operator version
version: "0.11.0-rc1"
maintainers:
  - email: asnaps@redhat.com
    name: Alex Snaps
  - email: didier@redhat.com
    name: Didier Di Cesare
  - email: eastizle@redhat.com
    name: Eguzki Astiz Lezaun
