name: Schedule build with latest image SHA versions

on:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  workflow-build:
    name: Calls build-images-base workflow
    uses: ./.github/workflows/build-images-base.yaml
    secrets: inherit
    with:
      operatorVersion: ${{ github.sha }}
      operatorTag: ${{ github.sha }}
      limitadorVersion: ${{ vars.LIMITADOR_SHA }}
      quayImageExpiry: 2w
